<!DOCTYPE html>
<html>
  <head>
    <!--Import materialize.css-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/was.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" media="all" />

    {% block extra_css %}
    {% endblock %}

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-viewport.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/parallelism.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Where Artists Share{% endblock %}</title>
  </head>

  <body>
    <div class="banner-div">
        {% block banner %}<img class="banner" src="{% static 'img/banner.jpg' %}">{% endblock %}
    </div>
      <nav class="nav-on-image">
        <div class="nav-wrapper teal darken-3">
          <a href="{% url 'homepage' %}" class="brand-logo">WAS</a>
          {% block nav %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <!-- TODO -->
            {% if user.is_anonymous %}
                <li><a href="{% url 'register_user' %}">Sign up</a></li>
                <li><a href="{% url 'artist_login' %}">Sign in</a></li>
            {% else %}
                <li><a href="{% url 'profile_page' user_pk=user.pk %}">My Profile</a></li>
                <li><a href="{% url 'artist_logout' %}">Log Out</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div>
      </nav>
    </div>

    <div class="container">
      <section id="content">
        {% block content %}{% endblock %}
      </section>
    </div>
  </body>
  <footer>© Where Artists Share</footer>
</html>
