{% extends "base.html" %}
{% load static %}

{% if artist.artist_banner %}
    {% block banner %}
        <img class="banner" src="{{ artist.artist_banner.url }}">
    {% endblock %}
{% endif %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col s9">
      <div class="row">
        <div class="col s12">
          <h5>{{ artist.user.username }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Biography</label>
          <p>{{ artist.artist_bio }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Signature</label>
          <p>{{ artist.artist_signature }}</p>
        </div>
      </div>
    </div>
    <div class="col s3">
      {% if artist.artist_image %}
        <img class="avatar secondary-content" src="{{ artist.artist_image.url }}">
      {% else %}
        <img class="avatar secondary-content" src="{% static 'img/test.jpg' %}">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="center-align">
        <a class="waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Update Account" href="{% url 'update_artist' %}">
          <i class="mdi mdi-account"></i>
        </a>
      </div>
    </div>
    <div class="col s4">
      <div class="center-align">
        <a class="waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Remove Account" href="{% url 'delete_user' %}">
          <i class="mdi mdi-account-remove"></i>
        </a>
      </div>
    </div>
    <div class="col s4">
      <div class="center-align">
        <a class="waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Upload Photo" href="{% url 'upload_photo_artist' %}">
          <i class="mdi mdi-camera"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}