{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <script src="{% static 'js/upload_photo.js' %}"></script>
{% endblock %}

{% block banner %}
    {% if artist.artist_banner %}
        <img class="banner" src="{{ artist.artist_banner.url }}">
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block content %}
<div class="section">
  <div class="row">
    <div class="col s9">
      <div class="row">
        <div class="col s12">
          <h5>{{ artist.user.username }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Biography</label>
            {% if artist.artist_bio %}
                <p>{{ artist.artist_bio }}</p>
            {% else %}
                <p>A little story about you.</p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Signature</label>
            {% if artist.artist_signature %}
                <p>{{ artist.artist_signature }}</p>
            {% else %}
                <p>Some badass words you want to say</p>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="col s3">
      {% if artist.artist_image %}
        <img class="avatar secondary-content" src="{{ artist.artist_image.url }}">
      {% else %}
        <img class="avatar secondary-content" src="{% static 'img/test.jpg' %}">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="center-align">
        <a class="waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Update Account" href="{% url 'update_artist' %}">
          <i class="mdi mdi-account"></i>
        </a>
      </div>
    </div>
    <div class="col s4">
      <div class="center-align">
        <a class="waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Remove Account" href="{% url 'delete_user' %}">
          <i class="mdi mdi-account-remove"></i>
        </a>
      </div>
    </div>
    <div class="col s4">
      <div class="center-align">
        <a class="modal-trigger waves-effect waves-light btn-floating btn-large teal darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Upload Photo" href="#modal_form_photo">
          <i class="mdi mdi-camera"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="wrapper">
      <div id="parallelism">
        <div id="reel">
            {% if photos %}
                {% for photo in photos %}
                    <article class="item thumb" data-width="282">
                      <h2>{{ photo.comment }}</h2>
                      <a href="{{ photo.picture.url }}" class="image"><img src="{{ photo.picture.url }}" alt=""></a>
                    </article>
                {% endfor %}
            {% else %}
                <article class="item thumb" data-width="282">
                  <h2>You really got me</h2>
                  <a href="{% static 'img/test.jpg' %}" class="image"><img src="{% static 'img/test.jpg' %}" alt=""></a>
                </article>
                <article class="item thumb" data-width="282">
                  <h2>Interesting</h2>
                  <a href="{% static 'img/test2.jpg' %}" class="image"><img src="{% static 'img/test2.jpg' %}" alt=""></a>
                </article>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'upload_photo.html' %}

{% endblock %}
