.banner {
    width: 100%
}

.banner-div {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card-error {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-on-image {
    margin-top:-35px;
    margin-bottom: 25px;
}

.button-upload {
    position: relative;
}

.input-file label {
    left: 155px;
}

.input-file input[type=text] {
    width: 83%;
}